body{
    background-color: #3AA6B9;
}
.container{
    width: 200px;
    position:static;
    padding-left: 650px;
    margin-bottom: 500px;
    margin-top: 100px;
}
button {
    background-color: #974EC3; /* unggu */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  
  
  .button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
img{
    position: static;
    padding-left: 630px;
    /* margin-top: 200px;  */

}